body {
    display: grid;
    justify-content: center;
    gap: 1px;
    background-color: bisque;
}

button {
    display: inline-grid;
    /* grid-row-start: 1;
    grid-row-end: 3; */
    color: white;
    background-color: darkslategray;
}

.screen {
    display: grid;
    justify-items: end;
    width: 360px;
    height: 90px;
    padding: 15px;
    background-color: #cbcbcb;
    margin-bottom: 15px;
    color: #e8f1f2;
    overflow: hidden;
  }
  
